@import '../abstracts/mixins';

.deleteModal {
    width: 60%;
    height: 20vh;
    @include flexBox(space-between);

    p {
        text-align: center;
        margin-top: 4vh;
    }
}

@media (min-width: 1000px) {
    .deleteModal {
        width: 20%;
    }
}

.btnContainer {
    width: 70%;
    height: 25%;
}

.cancelBtn {
    width: 50%;
    height: 100%;
    font-size: 1rem;
    @include grayBorder;
}

.deleteBtn {
    @include buttons(50%, 100%, 1rem, 0);
}
