@import '../abstracts/mixins';

.addTaskBtn {
    @include buttons(16vh, 6vh, 2.5vh)
}

.taskDisplayer {
    width: 100%;
    height: 90%;
    padding: 2vh;
    @include grayBorder;
    overflow: auto;
}

.tasks {
    height: 12vh;
    padding: 2vh;
    @include flexBox(center, center, row);
    margin-bottom: 2vh;
    @include grayBorder;
}

.taskChecked {
    background-color: rgb(0, 224, 11);
    opacity: .7;

    p {
        text-decoration: line-through;
    }
}

.leftContainer {
    width: 70%;
}

.rightContainer {
    width: 30%;
    @include flexBox(space-evenly, flex-end);
    height: 100%;
}

.highPrio {
    font-weight: bold;
    color: rgb(190, 0, 0);
}

.midPrio {
    font-weight: bold;
    color: darkorange;
}