@import '../abstracts/mixins';

.taskDisplayer {
    width: 100%;
    height: 90%;
    padding: 2vh;
    border-radius: 16px;
    background-color: rgb(219, 32, 88);
}

.tasks {
    height: 12vh;
    border-radius: 16px;
    background-color: rgb(231, 217, 217);
    padding: 2vh;
    @include flexBox(center, center, row);
    margin-bottom: 2vh;
}

.leftContainer, .rightContainer {
    width: 50%;
}

.rightContainer {
    @include flexBox(center, flex-end)
}