@import '../abstracts/mixins';

.modalScreen {
    width: 100%;
    height: 100vh;
    @include flexBox;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

@supports (backdrop-filter: blur(8px)){
    .modalScreen {
        background: hsl(250 100% 20% / 0.1);
        backdrop-filter: blur(8px);
    }
}

.modalContent {
    background-color: white;
    @include grayBorder;
    width: 80%;
    height: 60vh;
}

@media (min-width: 1000px){
    .modalContent {
        width: 30%;
    }
}

#btnContainer {
    width: 100%;
    height: 8%;
    @include flexBox(flex-end, center, row);
}

.closeBtn {
    height: 100%;
    width: 4vh;
    font-size: 2.5vh;
    text-align: center;
    background-color: rgb(231, 66, 66);
    border-radius: 0 4px 0 0;
}

#modalMainForm {
    width: 100%;
    height: calc(100% - 8%);
    padding: 2vh;

    form {
        @include flexBox(space-between, center);
        height: 100%;
        text-align: center;

        .submitBtn {
            @include buttons(16vh, 4vh, 2.5vh);
        }

    }

    .formInputs {
        width: 100%;
    }
}

.container {
    width: 100%;
    @include flexBox(_, flex-end, row);
    margin-bottom: 2vh;
}

.leftSide, .rightSide {
    width: 50%;
}

.leftSide {
    display: flex;
    justify-content: start;
}

.rightSide {
    display: flex;

    input {
        width: 100%;
        font-size: 1rem;
    }
}