@mixin flexBox($justifyContent: center, $alignItems: center, $flexDirection: column) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin buttons($width, $height, $fontSize){
    background-color: darkorange;
    width: $width;
    height: $height;
    font-size: $fontSize;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 2vh;
}