@mixin flexBox($justifyContent: center, $alignItems: center, $flexDirection: column) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin grayBorder(){
    border-radius: 4px;
    border: 1px solid #181818;
}

@mixin buttons($width, $height, $fontSize){
    @include grayBorder();
    background-color: #181818;
    color: #fff;
    width: $width;
    height: $height;
    font-size: $fontSize;
    text-align: center;
    margin-bottom: 2vh;
}

