@font-face {
    font-family: 'Inter';
    src: url('../../assets/Inter-VariableFont_slnt\,wght.ttf');
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid;
}

button {
    outline: none;
    border: none;
    background: none;
}
